@model alisveris.Models.LoginViewModel

@{
    ViewData["Title"] = "Giriş Yap";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Giris">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EPosta" class="control-label"></label>
                <input asp-for="EPosta" class="form-control" />
                <span asp-validation-for="EPosta" class="text-danger"></span>
            </div>
            <div class="forrm-group">
                <label asp-for="Sifre" class="control-label"></label>
                <input asp-for="Sifre" class="form-control" />
                <span asp-validation-for="Sifre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Giriş" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    Hesabın yok mu? <a asp-action="Kayit">Kayıt</a>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}